// @import "./scss/variables.scss";
@import "./../../scss//variables.scss";


.delete-btn {
    background-color: $primary;
    text-transform: uppercase;
    color: $table-accent;
    padding: 10px 20px;
    border: 1px solid currentColor;
    font-size: 1.1rem;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.6;
    }
}


.table {
    width:100%;
    text-align:left;
    overflow-x: auto;
    padding:30px;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  th {
      border-bottom: 1px solid red;
  }
  
  
  
  tr:nth-child(even) td {
    background-color: $table-accent;
  }
  
  .table-head {
    font-size: 1.2rem;
    height: 6vh;
  }
  
  
th {
    text-align: left;
    width: 2%;
    border-bottom: 2px solid black;
    padding:4px 2rem;
  }
      
  
  
  td {
    text-align: left;
    font-size: 1.1rem;
    color: var(--body-color);
    padding: 1rem;
  }

