@import "../../scss/variables.scss";


.color-wrapper {
    
    color:red;
    background:blue;
    padding:15px;
    width:100%;
}

.color-grid {
    display: flex;
    flex-wrap:wrap;
}

.color-card {
    background-color:black;
    width:70%;
    height:120px;
    text-align:center;
    margin-top:15px;
    margin-right:15px;
}

.color-code {
    position: relative;
    top:15px;
}

.color-info {
    display:flex;
    justify-content: space-between;
    width:70%;
    margin:auto;
}

@media screen and (min-width:$sm) {
    .color-card {
        width:40%;
    }
}

@media screen and (min-width:$lg) {
    .color-card {
       
        width:30%;
        
    }
}