@import "../../scss/variables.scss";

.color-card {
    width:90%;
    height:120px;
    text-align:center;
    margin:15px;
    display: flex;
    flex-direction: column;
    
    
}

.color-code {
    position: relative;
    height: 100%;
    font-size:1.3rem;
    
}

.color-info {
    display:flex;
    justify-content: space-between;
    width:100%;
    height:100%;
    padding: 0  10%;
    color:white;
    font-weight: bold;
    opacity: 0.5;
    background: rgba(0, 151, 20, 0.226);
    padding: 0 5%; 
    &:hover {
        opacity: 1;
        
    }
     
}



@media screen and (min-width:$sm) {

    

    .color-card {
        width:44.8%;
    }
}

@media screen and (min-width:$lg) {
    .color-card {
       
        width:29.7%;
        
    }
}