@import "../../scss/variables";



.navbar {
    background-color:$nav-background-color;
    width:20%;
    height:92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.menu-items {
    display: flex;
    flex-direction: column;
    
    
}

.menu-item {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    padding: 7% 0%;
    width:100%;
    margin-top:5%;
    border-bottom:1px solid $border-color;
}

footer {
    text-align:center;
    padding:20px;
}
