@import "../../scss/variables";

///////////////////////////////////////////////////////////////////////////////////

.navbar {
  position:fixed;
  width: 70%;
  background-color: $nav-background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
  transform: translate3d(0, 0, 0);
  transition-property: transform;
  transition-duration: 0.45s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  z-index:2;
}

.menu-items {
  display: flex;
  flex-direction: column;
  :hover {
    background: $nav-accent;
  }
}

.hidden {
  transform: translate3d(-70vw, 0, 0);
  // width:0px;

}



.menu-item {
  font-size: 1.1rem;
  padding: 5% 15%;
  border-bottom: 1px solid var(--border-color);

  width: 100%;
  border-bottom: 1px solid $border-color;
  text-decoration: none;
  color: white;
}

.footer {
  text-align: center;
  font-size: 0.75rem;
  padding-bottom: 10%;
}

@media screen and (min-width: $sm) {
  
  .navbar {
    width: 25vw;
  }

.footer {
    font-size: 0.85rem;
    padding-bottom: 10%;
  }
}

@media screen and (min-width: $md) {
  .navbar {
    width: 20vw;
    position: relative;
  }
}

@media screen and (min-width: $lg) {
  .hidden {
    transform: translate3d(-30vw, 0, 0);
    width:0px;
  }

  .menu-item {
    font-size: 1.5rem;
  }

  footer {
    text-align: center;
    padding-bottom: 10%;
    font-size: 0.9rem;
  }
}
