@import "../../scss/variables";

//TODO ASK if the below is possible be applying it simply on the global scss
//  * {
//      box-sizing: border-box;
//  }

.navbar {
  background-color: $nav-background-color;
  width: 15%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.navbar-open {
    transform: translateX(calc(0vh));
    transform: translate3d(0vw, 0, 0);
    transition: transform 0.35s ease-in;
}

.hidden {
    display:none;
}

.menu-items {
  display: flex;
  flex-direction: column;
  :hover{
    background:$nav-accent;
}
  
}

.menu-item {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--border-color);
  padding: 7% 10%;
  width: 100%;
  border-bottom: 1px solid $border-color;
  text-decoration: none;
  color: white;
  
}

footer {
  text-align: center;
  padding-bottom: 10%;
  font-size: 0.9rem;
}

@media screen and (max-width: $lg) {
  .navbar {
    width: 20%;
  }
 

}

@media screen and (max-width: $md) {
  .navbar {
    width: 30%;
  }

  .title {
    margin:0;
}

  .footer {
    font-size: 0.65rem;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: $sm) {
  .navbar {
    width: 70%;
  }

  .title {
      font-size:1.2rem;
  }

  .menu-item {
    font-size: 1.1rem;
    padding:5% 10%;
  }

  .footer {
    font-size: 0.75rem;
    padding-bottom: 10%;
    
  }
}
