@import "../../scss/variables";

.navbar {
  background-color: $nav-background-color;
  width: 15%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate3d(0, 0, 0);
    transition-property: transform;
    transition-duration: 0.45s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.hidden {
//   display: none;
  transform: translate3d(-40vw, 0, 0);
}

.menu-items {
  display: flex;
  flex-direction: column;
  :hover {
    background: $nav-accent;
  }
}

.menu-item {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--border-color);
  padding: 7% 10%;
  width: 100%;
  border-bottom: 1px solid $border-color;
  text-decoration: none;
  color: white;
}

footer {
  text-align: center;
  padding-bottom: 10%;
  font-size: 0.9rem;
}

@media screen and (max-width: $lg) {
  .navbar {
    width: 20%;
  }
}

@media screen and (max-width: $md) {
  .navbar {
    width: 30%;
    display: none;
  }

  .title {
    margin: 0;
  }

  .footer {
    font-size: 0.65rem;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: $sm) {
  .navbar {
    width: 70%;
  }

  .title {
    font-size: 1.2rem;
  }

  .menu-item {
    font-size: 1.1rem;
    padding: 5% 10%;
  }

  .footer {
    font-size: 0.75rem;
    padding-bottom: 10%;
  }
}
