@import "../../scss/variables.scss";

.main-view-wrapper {
    color:black;
    width:100%;
    // top:10vh;
    z-index: -1;
    // margin-left:0%;
    // left:15vw;
    // background:green;
    
    
}

h2 {
    color:black;
    

    position:relative;
    
}



@media screen and (min-width: $md){
   .main-view-wrapper{
     width:100%;
   } 
}