@import "../../scss/variables.scss";

.main-view-wrapper {
    color:black;
    width:100%;
<<<<<<< HEAD
    // top:10vh;
=======
    position: fixed;
    left:20vw;
    top:10vh;
>>>>>>> parent of 33ffc64... adding colour components
    z-index: -1;
    // margin-left:0%;
    // left:15vw;
    // background:green;
    
    
}

<<<<<<< HEAD
h2 {
    color:black;
    

    position:relative;
    
}

=======
>>>>>>> parent of 33ffc64... adding colour components


@media screen and (min-width: $md){
   .main-view-wrapper{
<<<<<<< HEAD
     width:100%;
=======
    left:30vw;
>>>>>>> parent of 33ffc64... adding colour components
   } 
}