@import "../../scss/variables.scss";

.main-view-wrapper {
    color:black;
    width:100%;
    z-index: -1;
    // background:green;
}

h2 {
    color:black;
    position:relative;
    margin-left:5%;
    
}



@media screen and (min-width: $md){
   .main-view-wrappe r{

     width:100%;

    left:30vw;

   } 
}