
$white: #fff;
$black: #000;
$blue: #006bfD;
$lightblue: #4a96ff;
$grey: #e9ecee;
$red: #d32f2f;
$header-desktop-width: 200px;
$heading-height: 58px;
$mobile-nav-width: 220px;

// html {
//   --light-blue: #006bfD;
//   --primary : orange;
// }