@import "../../scss/variables.scss";

.view-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 3%;
}



@media screen and (min-width: $sm) {
  .color-card {
    width: 44.8%;
  }
}

@media screen and (min-width: $md) {
  .color-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
