@import "../../scss/variables.scss";

.view-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: $sm) {
  .color-card {
    width: 44.8%;
  }
}
