@import "../../scss/variables";

.header-wrapper {
  padding: 0% 5%;
  background: $header-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header-left,
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }

  .burger-btn {
    margin-right: 10px;

    &:hover {
      cursor: pointer;
    }
    .menu-icon {
      margin: auto;
    }
  }

  img {
    background: white;
    border-radius: 50%;
  }

  .logo-txt {
    padding-left: 10px;
    color: white;
  }
}

.header-logo {
  width: 30px;
}

.title {
  font-size: 0.95rem;
}

.logo-txt,
.logout-txt {
  display: none;
}

.burger-btn {
  display: block;
}

@media screen and (min-width: $sm) {
  .header-logo {
    width: 50px;
    background: white;
  }

  .header-wrapper {
    padding: 0 20px;
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      padding-right: 8%;
      font-size: 0.8rem;
    }
  }

  .title {

    letter-spacing: 1px;
    font-size: 1.7rem;
  }
}

@media screen and (min-width: $md) {
  .burger-btn {
    display: none;
  }
}

@media screen and (min-width: $lg) {

  .title {
    margin-right: auto;
  }

  .logo-txt,
  .logout-txt {
    display: inline;
  }

  .header-left {
    width: 20%;
  }
}
