@import "../../scss/variables";

.header-wrapper {
  padding: 0% 5%;
  background: $header-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.header-left {
  display: flex;
  align-items: center;
  width: 15%;
  :hover {
    cursor: pointer;
  }

  .burger-btn {
    margin-right: 10px;
    
    :hover {
      cursor: pointer;
    }
    .menu-icon {
      margin: auto;
    }
  }

  img {
    background: white;
    border-radius: 50%;
  }

  .logo-txt {
    padding-left: 10px;
  }
}

.header-logo {
  width: 30px;
}

.title {
  margin-right: 0;
}

.logo-txt,
.logout-txt {
  display: none;
}

.burger-btn {
  display: block;
}

@media screen and (min-width: $sm) {
  .header-logo {
    width: 50px;
    background: white;
  }

  .header-wrapper {
    padding: 0 20px;
    
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      padding-right: 8%;
      font-size: 0.8rem;
    }

    
  }

  .title {
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.7rem;
  }

 

}

@media screen and (min-width: $lg) {
.logo-txt,
.logout-txt {
  display: inline;
}
}


