@import "../../scss/variables";

.header-logo{
    width:50px;
    background:white;
   }

.header-wrapper {
       background:$primary;
       display:flex;
       justify-content:space-between;
       align-items: center;
       padding:5px 20px;
       
   }

.header-left{
    display:flex;
    align-items: center;
    width:20%;
    span {
        padding-left:10px;
    }
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    span{
        padding-right:8%;
     }
    
    img{
        background:white;
        border-radius:50%;
    }
}

.title {
    margin-right:auto;
    text-transform: uppercase;
    
    letter-spacing: 1px;
}


@media screen and (max-width: $sm) {
    .header-wrapper{
        padding: 2% 5%;
    }

    .header-left, .header-right{
        span{
            display: none;
        }
    }
    
  }