@import "./scss/variables.scss";



.flex-wrapper-main {
  display: flex;
  height:92vh;
}

body {
  overflow: scroll;
}


.no-scroll {
  overflow:hidden;
}

.data-wrapper {
  width: 100%;
  height: 92vh;
  margin: auto;
  position:absolute;
}

.data-wrapper > * {
  padding: 1% 3%;
}

.view-title {
  color: black;
  position: relative;
}




// @media screen and (min-width: $sm) {
//   .data-wrapper {
//     // width: 90%;
//     // padding:1% 3%;
//   }
// }

@media screen and (min-width: $md) {
  .data-wrapper {
    margin: 0;
    width: 80%;
    position: inherit;
  }
}

