@import "./scss/variables.scss";

.flex-wrapper-main {
   display: flex;
  //align-content: stretch;
  //align-content: stretch;
  //min-height: calc(100vh - 6vh);
}

.data-wrapper {
  width: 100%;
  position: relative;
  top:6vh;
  padding: 10px;
}

.no-scroll {
  overflow: hidden;
}

.view-title {
  color: black;
  position: relative;
}

@media screen and (min-width: $md) {
  .data-wrapper {
    max-width: 80%;
    flex: 0 0 80%;
    left:20%;
  }
}
