@import "./scss/variables.scss";

.flex-wrapper-main {
  height: 94vh;
  position: relative;
}


.no-scroll {
  overflow: hidden;
}


.data-wrapper {
  //width: 100%;
  //height: 100%;
  ////height: 92vh;
  //margin: auto;
  //position: absolute;
  //float: right;
}

.view-wrapper {
  //padding: 1% 3%;
}

.view-title {
  color: black;
  position: relative;
}

@media screen and (min-width: $md) {
  .data-wrapper {
    //margin: 0;
  }
}
