@import "./scss/variables.scss";

.flex-wrapper-main {
  display: flex;
  height: 90vh;
}

body {
  overflow: scroll;
}

.no-scroll {
  overflow: hidden;
}

.data-wrapper {
  width: 100%;
  height: 92vh;
  margin: auto;
  position: absolute;
}

.view-wrapper {
  padding: 1% 3%;
}

.view-title {
  color: black;
  position: relative;
}

@media screen and (min-width: $md) {
  .data-wrapper {
    margin: 0;
    width: 80%;
    position: inherit;
  }
}
