@import "./scss/variables.scss";

.flex-wrapper-main {
  display: flex;
}

body {
  overflow: scroll;
}


.no-scroll {
  overflow:hidden;
}

.data-wrapper {
  padding: 15px;
  width: 100%;
  margin: auto;
}

.view-title {
  color: black;
  position: relative;
}


@media screen and (min-width: $sm) {
  .data-wrapper {
    width: 90%;
  }
}

@media screen and (min-width: $md) {
  .data-wrapper {
    margin: 0;
    width: 80%;
  }
}
