@import "./scss/variables.scss";



.flex-wrapper-main {
  display: flex;
  height:92vh;
}

body {
  overflow: scroll;
}


.no-scroll {
  overflow:hidden;
}

.data-wrapper {
  padding: 15px;
  width: 100%;
  height: 100%;
  margin: auto;
  position:absolute;
}

.view-title {
  color: black;
  position: relative;
}


@media screen and (min-width: $sm) {
  .data-wrapper {
    // width: 90%;
    padding:0 8%;
  }
}

@media screen and (min-width: $md) {
  .data-wrapper {
    margin: 0;
    width: 80%;
    // padding:0 20%;
    position: inherit;
  }
}
