@import "./scss/variables";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
}

* {
    box-sizing: border-box;
  }

code {
  font-family: 'Roboto', sans-serif;
}


// .App {
//   width:100%;
// }