@import "./scss/variables";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // color:white;
  
}

* {
    box-sizing: border-box;
  }

code {
  font-family: 'Roboto', sans-serif;
}

#root {
  width:100vw;
  height:100vh;
  
}

// .App {
//   width:100%;
// }